@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: black;
  color: white;
  font-family: 'Neue Haas Grotesk Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  position: relative;
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 170px;
  right: 250px;
}
  .line{
    width: 55%;
    height: 180px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid white; */
    /* margin-top: 10px; */
    /* padding-bottom: 20px; */
  }
  .line:nth-child(2){
    height: 230px;
  }
    span{
      position: absolute;
      font-size: 12rem;
      /* line-height: 7.2rem; */
      font-weight: 900;
    }
  
